.s-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 8rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.s-container .left-side {
     display: flex;
     flex-direction: column;
     gap: 2rem;
     width: 50%;
     
     
}

.s-container .left-side span:nth-child(1) {
    line-height: 25px;
}


.s-container .left-side span:nth-child(2) {
    font-size: 13px;
    line-height: 20px;
}


.s-container .right-side>img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 45rem;
    border-radius: 10px;
}

.survey-button {
    display: flex;
    background: rgb(78, 168, 42);
    border-radius: 10px;
    height: 5vh;
    width: 10rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(150, 145, 145, 0.2);
    
}

.survey-button span {
    color: white;
    font-size: small;
}


@media screen and (max-width: 1024px) {
    .s-container .right-side>img {
        height: 35vh;
        
    }
}

 @media screen and (max-width: 768px) {

    .s-container {
        gap: 3rem;
    }
    .s-container .left-side {
        width: 100%;
    } 

    .s-container .right-side>img {
        height: 30vh;
        width: 30rem;
    }
}

@media screen and (max-width: 430px) {

    .s-container {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .s-container .right-side>img {
        height: 20rem;
    }

    .survey-button{
        height: 3vh;
    }

}